/* Header font and margin */
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 68px;
  text-align: center;
  margin-bottom: 0.5em;
}

/* Body font */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Remove default padding from uls where bullets normally are */
ul {
  padding: 0;
}

/* Center labels so they look good */
label {
  text-align: center;
}

/* Styles for the bookmark lis */
.bookmark-item {
  border: 2px solid #bdb9b9;
  list-style-type: none;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Blocks the form container div so we can center it */
.form-container {
  display: block;
  text-align: center;
}

/* Center the form */
form {
  margin-left: auto;
  margin-right: auto;
}

/* Add some space between new bookmark button and filter */
.controls {
  text-align: center;
}

.controls button {
  margin-bottom: 1.5em;
}

.bookmark-container {
  border-top: 3px solid #d1d1d1;
}

/* Removes bullets from new bookmark form and centers */
.new-item-li {
  list-style-type: none;
  text-align: center;
}

/* Makes the drop down look not tiny */
select {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Add new bookmark button styles */
.add-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.add-btn-container {
  text-align: center;
}

/***** Inputs *****/
input[type='text'],
input[type='url'],
textarea,
select {
  background-color: #fff;
  border: 2px solid #d1d1d1;
  box-sizing: border-box;
  height: 38px;
  margin-bottom: 0.5em;
  text-align: center;
  width: 60px;
}

input[type='text'],
input[type='url'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

textarea {
  min-height: 68px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type='text']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
  border: 3px solid #aaa8a8;
  outline: 0;
}

label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 600;
}

/***** Buttons *****/
button {
  background-color: transparent;
  border: 3px solid #d1d1d1;
  box-sizing: border-box;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  height: 38px;
  letter-spacing: 0.05rem;
  line-height: 34px;
  padding: 0 26px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

button:hover {
  color: rgb(46, 45, 45);
  border-color: #858383;
  outline: 0;
}
