/***** Globals *****/
/* Header font and margin */
h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 68px;
  text-align: center;
  margin-bottom: 0.5em;
}

/* Body font */
body {
  font-family: 'Open Sans', sans-serif;
}

/* Remove default padding from uls where bullets normally are */
ul {
  padding: 0;
}

/* Center labels so they look good */
label {
  text-align: right;
  margin-top: 9.8px;
  margin-bottom: 9.8px;
  margin-right: 5px;
  float: right;
}

/***** New bookmark form *****/
/* Blocks the form container div so we can center it */
.form-container {
  display: block;
  text-align: center;
}

/* Center the form */
form {
  margin-left: auto;
  margin-right: auto;
}

/* Removes bullets from new bookmark form and centers */
.new-item-li {
  list-style-type: none;
  text-align: center;
}

/* Make the error message look like an error message */
.error-message-container {
  color: darkred;
  font-weight: bold;
  text-align: center;
}

/***** Controls *****/
/* Add some space between new bookmark button and filter */
.controls {
  text-align: left;
}

.controls button {
  margin-bottom: 1.5em;
}

/* Add new bookmark button styles */
.add-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.edit-btn {
  margin-left: 10px;
}

/***** Bookmarks *****/
.bookmark-container {
  border-top: 3px solid #d1d1d1;
  padding-top: 1em;
  margin-top: 2em;
}

/* Makes the drop down look not tiny */
select {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/***** Bookmarks list *****/
/* Styles for the bookmark headers */
.header-button {
  width: 100%;
  height: 100%;
}

.header-button:hover {
  border-color: #b9b9b9;
  background-color: #b9b9b9;
}

/* Styles for the bookmarks */
.bookmark-header {
  background-color: #d1d1d1;
  border-left: 2px solid #bdb9b9;
  border-right: 2px solid #bdb9b9;
  border-top: 2px solid #bdb9b9;
  border-bottom: 2px solid #bdb9b9;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.bookmark-item {
  margin-top: 12px;
  list-style-type: none;
}

.bookmark-body {
  border-left: 2px solid #bdb9b9;
  border-right: 2px solid #bdb9b9;
  border-bottom: 2px solid #bdb9b9;
  padding-bottom: 1em;
  padding-top: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.bookmark-body p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.bookmark-button {
  float: right;
}

/***** Utility *****/
/* Hidden class */
.hidden {
  display: none;
}

.add-btn-container {
  text-align: center;
}

/***** Style inputs *****/
input[type='text'],
input[type='url'],
textarea,
select {
  background-color: #fff;
  border: 2px solid #d1d1d1;
  box-sizing: border-box;
  height: 38px;
  margin-bottom: 0.5em;
  text-align: center;
  width: 184.417px;
  float: right;
}

input[type='text'],
input[type='url'],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

textarea {
  min-height: 68px;
  padding-top: 6px;
  padding-bottom: 6px;
}

input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  border: 3px solid #aaa8a8;
  outline: 0;
}

label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: 600;
}

/***** Style buttons *****/
button {
  background-color: transparent;
  border: 3px solid #d1d1d1;
  box-sizing: border-box;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  height: 38px;
  letter-spacing: 0.05rem;
  line-height: 34px;
  padding: 0 26px;
  text-align: center;
  text-transform: uppercase;
}

button:hover {
  color: rgb(46, 45, 45);
  border-color: #858383;
  outline: 0;
}

/* Mobile "my buttons look fine!" media query */
@media (max-width: 460px) {
  label {
    float: none;
    display: inline-block;
    text-align: center;
  }

  select {
    float: none;
  }

  .controls {
    text-align: center;
  }
}
